In [27]:
#1. month에 해당되는 이름의 첫번째 글자 리스트

In [28]:
month_lst = ['쌍', '쇠', '복', '돌', '팽', '육', '쌍', '개', '칠', '갑', '삼', '방']
print(month_lst) #출력 확인

['쌍', '쇠', '복', '돌', '팽', '육', '쌍', '개', '칠', '갑', '삼', '방']

In [29]:
#2.day에 해당되는 이름의 두번째 글자 리스트

In [30]:
day_lst = ['봉', '구', '욕', '포', '똥', '삼', '식', '석', '놈', '님', '년', '돌', '단', '득', '방', '질', '장', '걸', '래', '룡', '동', '순', '자', '박', '창', '언', '것', '포', '만', '단', '국']
print(day_lst)       #출력 확인

['봉', '구', '욕', '포', '똥', '삼', '식', '석', '놈', '님', '년', '돌', '단', '득', '방', '질', '장', '걸', '래', '룡', '동', '순', '자', '박', '창', '언', '것', '포', '만', '단', '국']

In [31]:
#3. 나의 조선시대 이름 함수(문자열로 반환)

In [32]:
def get_my_chosun_name(family_name, month, day):   #함수 선언 및 매개변수
    return "당신의 조선시대 이름은 "+ family_name + month_lst[month-1] + day_lst[day-1]  + '입니다.'  #문자열 반환
                                                                                                    # 만약 1월 1일일 경우 1월과 1일은 month_lst[0]과 day_lst[0]에 들어 있어서 -1을 해준다.

In [33]:
#4. 함수를 호출하여 조선시대 이름 출력

In [34]:
get_my_chosun_name('박', 10, 6)

'당신의 조선시대 이름은 박갑삼입니다.'